# Dependencies
node_modules/

# Build configuration
dist/
coverage/

# Environment variables
.env

# Prisma
/generated/prisma

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
*.swp
*.swo
